:root {
  /* colors */
  --dark: #111;
  --light: #fff;
  --dark-gray: #3e4149;
  --light-gray: #717a89;
  --light-gray: #f4f4f2;
  --green: #5ca19e;
  --blue: #6fa4de;
  --orange: #d78153;
  --screen-color: #696c64;
  --screen-text-color: #111114;
  --btn-gap: 8px;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: monospace, sans-serif;
  font-size: 14px;
  background-color: #111;
  color: #fff;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.grid {
  display: grid;
  gap: var(--btn-gap);
}

/* custom properties */

#calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-gray);
  border-radius: 8px;
  padding: 1rem;
}

.screen {
  padding: var(--btn-gap);
}

#result {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--light-gray);
  color: var(--screen-text-color);
  font-size: 24px;
  text-align: end;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.buttons {
  width: 300px;
  grid-template-columns: repeat(5, 1fr);
}

.btn {
  padding: 10px;
  text-align: center;
  background-color: #d1d1d1;
  border-radius: 16px;
}

.memories {
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  margin-bottom: 0.3rem;
}

.numbers {
  height: 220px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column: 1 / 4;
  grid-row: 2 / 6;
}

.operators {
  grid-column: 4 / 6;
  grid-row: 2 / 6;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.4fr;
}

.operators .small {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.operators .big {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.complex-operators {
  grid-column: 1 / 6;
  grid-template-columns: repeat(5, 1fr);
}

.btn.memory {
  background-color: var(--blue);
}

.btn.num {
  border-radius: 4px;
}

.btn.operator {
  background-color: var(--green);
}

.btn#ce {
  background-color: var(--orange);
} 

